<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12 mt-12">
  <!-- Navbar content -->
  <div class="container-fluid" >
    <a class="navbar-brand" href="#" style="text-align: center">Arabanız.com</a>
    <h3 *ngIf="existToken==false" class="text-white-50" style="text-align: center;margin-left: 50px;margin-right: 50px ">Araba Kiralama Hizmetine Hoşgeldiniz</h3>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="existToken==true">
          <a
            routerLink="/cars"
            class="nav-link"
            >Araçlar</a
          >
        </li>
        <li class="nav-item" *ngIf="existToken==true">
          <a
            routerLink="/customers"
            class="nav-link"
            >Müşteriler</a
          >
          </li>
        <li *ngIf="existToken==true">
          <a
            routerLink="/rentals"
            class="nav-link"
            >Kiralanan Araçlar</a
          >
        </li>

        <li class="nav-item dropdown " *ngIf="existToken==true">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Araç Detay İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="/colors/details">Renk Detayları</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/brands/details">Marka Detayları</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/cars/add">Yeni Araç Ekle</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown " style="height: auto;width: 300px">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Login / Logout</a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="#" routerLink="login">Giriş yap</a></li>
            <li><a class="dropdown-item" href="#" routerLink="login">Yeni kayıt oluştur</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Çıkış</a></li>

          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
