<div class="rental">
  <div class="panel-footer text-center">
    <span class="d-block p-1 bg-primary text-white" style="margin-top: 10px"
      ><h5>Kiralanan Araçlar</h5></span
    >
  </div>
  
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table
    *ngIf="dataLoaded == true"
    id="example"
    class="table table-striped table-bordered"
    cellspacing="0"
    width="100%"
  >
    <thead>
      <tr>
        <th>Id</th>
          <th>Marka</th>
          <th>Müşteri</th>
          <th>Ödenen Ücret</th>
          <th>Kiralama Tarihi</th>
          <th>Teslim Tarihi</th>
      
        <th style="text-align: center; width: 100px">
      
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentalDetails">
        <td>{{ rental.rentalId }}</td>
        <td>{{ rental.brandName }}</td>
        <td>{{ rental.fullName }}</td>
        <td>{{ rental.amountPaye | currency:"₺" }}</td>   
        <td>{{ rental.rentDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ rental.returnDate | date: 'dd/MM/yyyy HH:mm' }}</td>
  
        <td>
          <div style="text-align: center; width: 100px" class="d-grid gap-2 d-md-block">
            <button class="badge bg-danger" type="button">Sil</button>
            <button class="badge bg-secondary" type="button">Düzenle</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
