<div class="row g-3">
    <div class="col">
        <select [(ngModel)]="selectedBrandId" class="form-select" aria-label="Default select example">
            <option *ngFor="let brand of brands" [value]="brand.id" [selected]="getSelectedBrand(brand.id)">
                {{ brand.description }}
            </option>
        </select>
    </div>
    <div class="col">
        <select [(ngModel)]="selectedColorId" class="form-select" aria-label="Default select example">
            <option *ngFor="let color of colors" [value]="color.id" [selected]="getSelectedColor(color.id)">
                {{ color.description }}
            </option>
        </select>
    </div>

</div>
<div class="d-grid gap-2 mt-2">
    <div class="btn btn-info" type="button" routerLink="/cars/filter/{{ selectedBrandId }}/{{ selectedColorId }}">
        Filtrele
    </div>
    <div class="btn btn-warning" type="button" routerLink="/cars" [class]="clearCombobox()">
        Temizle
    </div>
</div>
