
    <div class="card mt-3">
      <div class="card-header">
        <h5 class="title">Araç Ekle</h5>
        <div class="card-body">
          <form [formGroup]="carAddForm">

            <div class="mb-3">
              <label for="brandId">Marka Seçiniz</label>
              <div class="form-group">
                <select class="form-control form-select" type="text" id="brandId" formControlName="brandId" name="brandSelect" placeholder="Marka Seçiniz" aria-label="Markalar">
                  <option [ngValue]="brand.id" *ngFor="let brand of brands" >{{ brand.description }}</option>
                </select>
              </div>
            </div>


            <div class="mb-3">
              <label for="colorId">Renk Seçiniz</label>
              <div class="form-group">
                <select class="form-control form-select" type="text" id="colorId" formControlName="colorId" name="colorSelect" placeholder="Renk Seçiniz" aria-label="Renkler">
                  <option [ngValue]="color.id" *ngFor="let color of colors" >{{ color.description }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 ">
              <label for="modelYear">Model Yılı</label>
              <div class="form-group">
                <input class="form-control" type="date" id="modelYear" formControlName="modelYear" placeholder="Model Yılı">
              </div>
            </div>

            <div class="mb-3 ">
              <label for="description">Tanım</label>
              <div class="form-group">
                <input class="form-control" type="text" id="description" formControlName="description" placeholder="Tanım">
              </div>
            </div>

            <div class="mb-3 ">
              <label for="dailyPrice">Günlük Fiyatı</label>
              <div class="form-group">
                <input class="form-control" type="number" id="dailyPrice" formControlName="dailyPrice" placeholder="Günlük Fiyat">
              </div>
            </div>


          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-success" (click)="add()">Ekle</button>
          <button class="btn btn-fill btn-danger m-lg-2" (click)="back()">Geri</button>
        </div>
      </div>

    </div>
